<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
        
    <form action="" method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="User Name"><br>
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confrim Password"><br>
        <input type="submit">
    </form>
</body> 
</html>

